@import '../../../css/theme.scss';
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

.roboto {
  font-family: 'Roboto';
}

.base {
  @extend .roboto;
  font-size: 12px;
  color: color-palette(gray);
}

.header {
  @extend .roboto;
  font-size: 16px;
  color: color-palette(gray);
}
