@import '../../../css/theme.scss';

.tabs {
  @extend .container;
}

.tab {
  @extend .centered, .clickable, .grow, .paddingXLarge, .transition;

  background-color: color-palette(blue);
  &:hover {
    background-color: color-palette(white);
  }
}

.activeTab {
  @extend .tab;
  background-color: color-palette(white);
  &:hover {
    background-color: color-palette(blue);
  }
}
