/* Global */

html, body {
  height: 100%;
}

/* Flexbox styling */

.container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.spaceBetween {
  justify-content: space-between;
}

.grow {
  flex-grow: 1
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Padding */

.paddingXSmall {
  padding: 1px;
}

.paddingSmall {
  padding: 4px;
}

.paddingMedium {
  padding: 8px;
}

.paddingLarge {
  padding: 16px;
}

.paddingXLarge {
  padding: 32px;
}

/* Interactive */

.clickable {
  cursor: pointer;
}

.transition {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

/* Colors */

@function color-palette($color, $tone: base) {
  @return map-get(map-get($colors, $color), $tone);
}

$colors: (
  blue: (
    base: #9BC4E2,
    dark: #659DBD,
  ),
  gray: (
    base: #3b3b3b,
  ),
  green: (
    base: #97DB4F,
  ),
  teal: (
    base: #79C99E,
  ),
  white: (
    base: #FAFAFA,
  ),
  olive: (
    base: #8D8741,
  ),
  brown: (
    base: #BC986A,
  ),
  beige: (
    base: #FBEEC1,
  ),
  tan: (
    base: #DAAD86,
  ),
);
